@font-face {
    font-family: "Open Sans";
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
}

* {
    font-family: "Open Sans";
}

.OuterMostContainer {
    display: flex;
    width: 100%;
    align-content: stretch;
}

.InstallButtons {
    flex-grow: 1;
    width: 100%;
    background: cornflowerblue;
}

.LeftContainer {
    background: #353535;
    padding: 10px;
}

.RightContainer {
    flex-grow: 1;
    background: #555;
    padding: 10px;
}

.MainCaption {
    font-family: "Open Sans";
    color: #0000ff;
}

.ItemContainer {
    font-family: "Open Sans";
    display:flex;
    overflow:hidden;
    margin-bottom:10px;
}

.ItemContainerBg {
    border: 1px solid #ffe4b5;
    background-color: #ffe4b5;
}

.ItemContainer:hover {
    border: 1px solid #e9967a;
    background-color: #e9967a;
}

.ItemContainerSelected {
    border: 1px solid sandybrown;
    background-color: sandybrown;
}

.ItemLeftPanel {
    padding:5px;
}

.ItemRightPanel {
    padding:5px;
    background-color:#555;
    width:100%;
}

.ItemRightPanelSelected {
    padding:5px;
    background-color:#ddd;
    width:100%;
}

.ItemPackageName {
    font-size:0.9em;
    line-height:0.9em;
}

.ItemPackageVersion {
    font-size:0.6em;
    margin-left:5px;
}

.ItemPackageAuthor {
    font-size:0.6em;
    color:#aaa;
}

.ItemToggleDescription {
    float: right;
    font-size:0.7em;
    color:#aaaaaa;
}

.ItemToggleDescription:hover {
    cursor:pointer;
    border-bottom:1px solid #aaa;
}

.VersionContainer {
    font-family: 'Open Sans';
    display:flex;
    border: 1px solid #aaa;
}

.VersionContainer div {
    padding: 5px;
}

.PackageHeaderInfo {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: #888 1px solid;
}

.Detail {
    margin: 10px 0px;
}

.PackageHeaderInfoRightPanel
{
    display: flex;
    flex-direction: column;
}

.PackageName {
    font-size: 18pt;
}

.DetailSectionHeader {
    margin: 18px 0px 6px 0px;
    font-size: 11pt;
    text-transform: uppercase;
    color: #888;
}
